<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OutGoingSlack Test</title>
</head>
<body>
    <p>Hihi~~</p>
<div class="c-message_kit__gutter">
    <div class="c-message_kit__gutter__left">
        <a aria-haspopup="true" aria-hidden="true" aria-label="View GitHub’s Profile" class="c-link c-message_kit__avatar c-avatar c-avatar--interactive" href="/team/URZ2G7E1Z" rel="noopener noreferrer" style="height: 36px; line-height: 36px; width: 36px;" tabindex="-1" target="_blank">
            <img alt="" class="c-avatar__image" src="https://ca.slack-edge.com/TS08LHC73-URZ2G7E1Z-327ade46502c-48" srcset="https://ca.slack-edge.com/TS08LHC73-URZ2G7E1Z-327ade46502c-72 2x"/>
        </a>
    </div>
    <div class="c-message_kit__gutter__right" data-qa="message_content">
        <span class="c-message__sender c-message_kit__sender" data-qa="message_sender">
            <a aria-haspopup="true" class="c-link c-message__sender_link" data-message-sender="URZ2G7E1Z" data-qa="message_sender_name" href="/team/URZ2G7E1Z" rel="noopener noreferrer" target="_blank">
                GitHub
            </a>
            <span class="margin_left_25">
                <span class="c-app_badge" data-stringify-suffix=" ">
                    APP
                </span>
            </span>
        </span>
        <a aria-describedby="slack-kit-tooltip" class="c-link c-timestamp c-timestamp--static" delay="300" href="https://githubfarm.slack.com/archives/CSAFNFB4M/p1578320605002600">
            <span class="c-timestamp__label" data-stringify-requires-siblings="true" data-stringify-text="[11:23 PM]" data-stringify-type="replace">
                11:23 PM
            </span>
        </a>
        <br/>
        <div class="c-message_kit__attachments"><div class="c-message_attachment">
            <div class="c-message_attachment__border" style="background-color: rgb(36, 41, 47);">
            </div>
            <div class="c-message_attachment__body">
                <div class="c-message_attachment__row">
                    <span class="c-message_attachment__text" data-qa="message_attachment_text">
                        <span dir="auto">Subscribed to <a class="c-link" href="https://slack-redir.net/link?url=https%3A%2F%2Fgithub.com%2Fjiyeoon%2Fjiyeoon.github.io" rel="noopener noreferrer" target="_blank">jiyeoon/jiyeoon.github.io</a></span></span></div></div></div></div></div></div>
​
</body>
</html>